[url "ssh://baptistem@git.gnome.org/git/"]
	insteadof = gnome:
[alias]
	up = pull --rebase
	ci = commit -v
	prune-all = !git remote | xargs -n 1 git remote prune
	record = !git add -p && git ci
	amend-record = !git add -p && git ci --amend
	stoat = !toilet -f future STOATS
	update-master = !git checkout master && git pull -r
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[branch "master"]
	rebase = true
[user]
	name = Baptiste Mille-Mathias
	email = baptiste.millemathias@gmail.com
[bz]
	browser = firefox3
	default-tracker = gnome
[bz-tracker "gnome"]
	host = bugzilla.gnome.org
[giggle]
	main-window-maximized = false
	main-window-geometry = 824x566+342+111
	main-window-view = HistoryView
	history-view-vpane-position = 273
	file-view-vpane-position = 414
[color]
	ui = auto
[push]
	default = simple
